* {
    box-sizing: border-box;
  }
   
  html,
  /* body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #86939E;
    font-family: 'Roboto', sans-serif;
  } */

  .banner_box {
    max-width: 1620px;
    margin: auto; }
  
  .banner_area {
    position: relative;
    z-index: 1;
    height: 100%;}
    .banner_area .banner_inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 700px;
      background: #f9f9ff;
      z-index: 1; }
    .banner_area .banner_inner .shopping_cart{
        width: 750px;
        height: fit-content;
        margin: 80px auto;
        background: #ffffff;
        box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
      }
    .banner_area .banner_inner .shopping_cart .title {
      height: 60px;
      width: auto;
      border-bottom: 1px solid #E1E8EE;
      padding: 20px 30px;
      background-color: #be197f;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      font-weight: bold;
    }

    .banner_area .banner_inner .shopping_cart .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
      }
       
    .banner_area .banner_inner .shopping_cart .item {
      padding: 20px 30px;
      height: 120px;
      display: flex;
    }
    .banner_area .banner_inner .shopping_cart .item:nth-child(3) {
      border-top:  1px solid #E1E8EE;
      border-bottom:  1px solid #E1E8EE;
    }
    .banner_area .banner_inner .shopping_cart .buttons {
      position: relative;
      padding-top: 30px;
      margin-right: 60px;
    }
    .banner_area .banner_inner .shopping_cart .delete-btn,
    .like-btn {
      display: inline-block;
      Cursor: pointer;
    }
    .banner_area .banner_inner .shopping_cart .delete-btn {
      width: 18px;
      height: 17px;
      background: url(../img/cart/delete-icn.svg) no-repeat center;
    }
    .banner_area .banner_inner .shopping_cart .bb-title {
      position: relative;
      height: 60px;
      border-top: 1px solid #E1E8EE;
      padding: 20px 30px;
      color: #5E6977;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .banner_area .banner_inner .shopping_cart .like-btn {
      position: absolute;
      top: 9px;
      left: 15px;
      background: url(../img/cart/twitter-heart.png);
      width: 60px;
      height: 60px;
      background-size: 2900%;
      background-repeat: no-repeat;
    }
    .banner_area .banner_inner .shopping_cart .is-active {
      animation-name: animate;
      animation-duration: .8s;
      animation-iteration-count: 1;
      animation-timing-function: steps(28);
      animation-fill-mode: forwards;
    }
    @keyframes animate {
      0%   { background-position: left;  }
      50%  { background-position: right; }
      100% { background-position: right; }
    }
    .banner_area .banner_inner .shopping_cart .image {
      margin-right: 50px;
      width: 2px;
      height: 100px;
    }
     
    .banner_area .banner_inner .shopping_cart .description {
      padding-top: 10px;
      margin-right: 60px;
      margin-left: auto;
      width: 115px;
    }
     
    .banner_area .banner_inner .shopping_cart .description span {
      display: block;
      font-size: 14px;
      color: #43484D;
      font-weight: 400;
    }
     
    .banner_area .banner_inner .shopping_cart .description span:first-child {
      margin-bottom: 5px;
    }
    .banner_area .banner_inner .shopping_cart .description span:last-child {
      font-weight: 300;
      margin-top: 8px;
      color: #86939E;
    }
    .banner_area .banner_inner .shopping_cart .quantity {
      padding-top: 20px;
      margin-right: 60px;
    }
    .banner_area .banner_inner .shopping_cart .quantity input {
      -webkit-appearance: none;
      border: none;
      text-align: center;
      width: 32px;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
    }
     
    .banner_area .banner_inner .shopping_cart button[class*=btn] {
      width: 30px;
      height: 30px;
      background-color: #E1E8EE;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
    .banner_area .banner_inner .shopping_cart .minus-btn img {
      margin-bottom: 3px;
    }
    .banner_area .banner_inner .shopping_cart .plus-btn img {
      margin-top: 2px;
    }
     
    .banner_area .banner_inner .shopping_cart button:focus,
    .banner_area .banner_inner .shopping_cart input:focus {
      outline:0;
    }
    .banner_area .banner_inner .shopping_cart .total-price {
      width: 83px;
      padding-top: 27px;
      text-align: center;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
    }
    .banner_area .banner_inner .shopping_cart .nxt-button {
      /* display: inline-block; */
      border-radius: 4px;
      background-color: #be197f;
      border: #be197f;
      color: #FFFFFF;
      text-align: center;
      float: right;
      font-size: 12px;
      padding: 10px;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 0px;
    }
    
    .banner_area .banner_inner .shopping_cart .nxt-button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .banner_area .banner_inner .shopping_cart .nxt-button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .banner_area .banner_inner .shopping_cart .nxt-button:hover span {
      padding-right: 25px;
    }
    
    .banner_area .banner_inner .shopping_cart .nxt-button:hover span:after {
      opacity: 1;
      right: 0;
    }

    input[type=text] {
        width:90%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
      }
      input[type=radio] {
        /* width:90%; */
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      input[type=email] {
        width:90%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
      }
      .banner_area .banner_inner .shopping_cart .form-check-lbl{
        margin-left: 0px;
        display: block;
      }
      .banner_area .banner_inner .shopping_cart label {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 10px;
        display: block;
      }
      
      .banner_area .banner_inner .shopping_cart .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }
    
      .banner_area .banner_inner .shopping_cart .modal-confirm {		
            color: #636363;
            width: 325px;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .modal-header {
            border-bottom: none;   
            position: relative;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px; 
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }	
        .banner_area .banner_inner .shopping_cart .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }	
        .banner_area .banner_inner .shopping_cart .modal-confirm .icon-box {
            color: #fff;		
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #be197f;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .icon-box i {
            font-size: 58px;
            position: relative;
            top: 3px;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm.modal-dialog {
            margin-top: 80px;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #be197f;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }
        .banner_area .banner_inner .shopping_cart .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #be197f;
            outline: none;
        }
        .banner_area .banner_inner .shopping_cart .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
      

      /* .banner_area .banner_inner .banner_content h1 {
        font-weight: bold;
        font-size: 80px;
        color: #2e6079;
        margin-bottom: 0px;
        font-weight: 500;
        margin-top: 30px; }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 14px;
        color: #777777;
        font-family: "Roboto", sans-serif;
        margin-right: 32px;
        position: relative; }
        .banner_area .banner_inner .banner_content .page_link a:before {
          content: "\e87a";
          font-family: 'Linearicons-Free';
          position: absolute;
          right: -25px;
          top: 50%;
          transform: translateY(-50%); }
        .banner_area .banner_inner .banner_content .page_link a:last-child {
          margin-right: 0px; }
          .banner_area .banner_inner .banner_content .page_link a:last-child:before {
            display: none; }
        .banner_area .banner_inner .banner_content .page_link a:hover {
          color: #f42f2c; } */
      .banner_area .banner_inner .shape.shape1 {
        background: url(../img/banner/shape3.png) no-repeat;
        left: -10px;
        top: 0px;
        -webkit-animation: glow 1s infinite alternate 0.5s;
        -moz-animation: glow 1s infinite alternate 0.5s;
        -o-animation: glow 1s infinite alternate 0.5s;
        animation: glow 1s infinite alternate 0.5s; }
        @media (max-width: 1440px) {
          .banner_area .banner_inner .shape.shape1 {
            left: 28%;
            top: 22%; } }
      .banner_area .banner_inner .shape.shape2 {
        background: url(../img/banner/shape7.png) no-repeat;
        left: 5%;
        top: 60%;
        -webkit-animation: glow 1s infinite alternate 1s;
        -moz-animation: glow 1s infinite alternate 1s;
        -o-animation: glow 1s infinite alternate 1s;
        animation: glow 1s infinite alternate 1s; }
      .banner_area .banner_inner .shape.shape3 {
        background: url(../img/banner/shape4.png) no-repeat;
        left: 30%;
        top: 70%;
        -webkit-animation: glow 1s infinite alternate 1.5s;
        -moz-animation: glow 1s infinite alternate 1.5s;
        -o-animation: glow 1s infinite alternate 1.5s;
        animation: glow 1s infinite alternate 1.5s; }
      .banner_area .banner_inner .shape.shape4 {
        background: url(../img/banner/shape1.png) no-repeat;
        right: 28%;
        top: 100px;
        -webkit-animation: glow 1s infinite alternate 2s;
        -moz-animation: glow 1s infinite alternate 2s;
        -o-animation: glow 1s infinite alternate 2s;
        animation: glow 1s infinite alternate 2s; }
      .banner_area .banner_inner .shape.shape5 {
        width: 100px;
        height: 40px;
        background: url(../img/banner/shape8.png) no-repeat;
        right: 25%;
        bottom: 0px;
        -webkit-animation: glow 1s infinite alternate 2.5s;
        -moz-animation: glow 1s infinite alternate 2.5s;
        -o-animation: glow 1s infinite alternate 2.5s;
        animation: glow 1s infinite alternate 2.5s; }
      .banner_area .banner_inner .shape.shape6 {
        background: url(../img/banner/shape9.png) no-repeat;
        right: 12%;
        top: 40%;
        -webkit-animation: glow 1s infinite alternate 3s;
        -moz-animation: glow 1s infinite alternate 3s;
        -o-animation: glow 1s infinite alternate 3s;
        animation: glow 1s infinite alternate 3s; }
      .banner_area .banner_inner .shape.shape7 {
        width: 45px;
        background: url(../img/banner/shape10.png) no-repeat;
        right: 0px;
        bottom: 5%;
        -webkit-animation: glow 1s infinite alternate 3.5s;
        -moz-animation: glow 1s infinite alternate 3.5s;
        -o-animation: glow 1s infinite alternate 3.5s;
        animation: glow 1s infinite alternate 3.5s; }
      .banner_area .banner_inner .shape {
        width: 100px;
        height: 120px;
        position: absolute; }
        @media (max-width: 380px) {
          .banner_area .banner_inner .shape {
            display: none; } }

@media (max-width: 800px) {
        .shopping-cart {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        .item {
          height: auto;
          flex-wrap: wrap;
          justify-content: center;
        }
        .image img {
          width: 50%;
        }
        .image,
        .quantity,
        .description {
          width: 100%;
          text-align: center;
          margin: 6px 0;
        }
        .buttons {
          margin-right: 20px;
        }
      }